.primary-bg{
    background-color: rgb(17, 97, 86);
    color: white;
}


.form-shadow{
	background-color: rgba(144, 180, 180, 0.226);
	box-shadow: 20px 20px 40px grey;
}


/* error display */
.error-msg{

color: rgb(233, 41, 41) ;
font-size: medium;
font-weight: bold;
}

.card{
    width: 40rem; 
    font-size: large;
    margin-top: 140px;

}

.image-size-small{
	width:140px;
	margin:0 auto;	
	}

.image-size-small img{
	width:140px;
	margin-bottom:-80px;	
	}
